.chains{
    width: 100%;
    margin: auto;
    border-top: 5px solid #1972a4;
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.chains-div{
   width: 30%;
}
.chains a{
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
  color: #1972a4;
  transition: 0.4s ease;
}
.chains a:hover{
   color: #ab3f82;
}
.chains img{
    width: 50px;
    margin-right: 10px;
}

@media (max-width:500px){
    .chains{
        width: 100%;
        border-top: 5px solid #1972a4;
        padding-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        text-align: start;

    }
    .chains-div{
       width: 100%;
       padding:6px;

    }
    .chains a{
        text-decoration: none;
        font-size: 18px;
        font-weight: 700;
      color: #1972a4;
      transition: 0.4s ease;
    }
    .chains a:hover{
       color: #ab3f82;
    }
    .chains img{
        width: 30px;
        margin-right: 5px;
    }
    
}